*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  margin: 0;
  background: url('https://assets.onecompiler.app/42pumarae/42qzphkj9/1000018951.jpg') no-repeat;
  height: 580px; width: 100%;
  background-size: cover;
  background-position: center;
}
.main-div{
  display: flex;align-items: center;justify-content: center;
  height: 950px;width: 800px;
  background: transparent;
  position: relative; top: 400px;left: 88px;
  padding: 3px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  border: 1px solid #8b43e5;
}
.line{
  height: 1.4px;width: 88%;
  border-radius: 4px;
  background-color: white;
  position: absolute;left: 6%;
}
#line1{ top: 215px;}
#line2{ top: 595px;}
.input-field{
  height: 150px;width: 700px;
  outline: none; border: none;
  position: absolute; top: 90px; left: 50px;
  border-radius: 17px;
}
input {
  height: 100%;width: 100%;
  border: none;outline: none;
  border-radius: 17px;
  background: transparent; padding: 0 0;
  color: white; font-size: 25px;
}
input::placeholder {
  color: white;
  font-size: 36px;
}
.submit-btn{
  height: 100px;width: 88%;
  position: absolute;top: 780px;
  background: transparent; left: 6%;
  outline: none;
  border: 1px solid white;
  border-radius: 17px;
  color: white; font-size: 33px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  transition: all 1s ease;
}
.submit-btn:hover{
  background-color: white;
  color: black;
}
.menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  align-items: center;
}
.menu.open .dot:nth-child(1) {
    transform: rotate(45deg) translateY(13px);
    opacity: 1;
}
.menu.open .dot:nth-child(2) {
    transform: rotate(-45deg) translateY(-13px);
    opacity: 1;
}
.dot {
  width: 50px;
  height: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,1);
  border-radius: 2px;
  margin-top: 15px;
  transition: transform 0.5s ease;
  position: relative; top: 10px;right: 10px;
  z-index: 10;
}
.content {
  position: absolute;
  top: 47px;
  left: 0px;
  background-color: white;
  color: white;
  width: 92%; z-index: 1;
  max-height: 0px;
  overflow: hidden;
  display: block;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  transform: translateX(0%);
  opacity: 0; z-index: 10;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}
.content.show {
  max-height: 2300px; height: 1650px;
  transform: translateX(0%);
  opacity: 1; z-index: 10;
}
.content a {
  color: black;
  font-size: 30px;
  padding: 60px 50px;
  font-weight: 400; font-family: "Calibri", "Arial", sans-serif;
  text-decoration: none; letter-spacing: 2px;
  display: block; user-select: none;
}
.content a:hover {
  background-color: #F0E8F4;
  border-radius: 20px;
  text-decoration: none;
}
.a {
  color: black; 
  position: absolute; 
  top: 20px; right: 30px; 
  font-size: 20px; user-select: none;
  }
.straight-line {
  height: 1px; width: 80%;
  background-color: black;
  margin-top: 155px; position: relative; top: -1558px;
  display: block; user-select: none; left: 50px;
}
